In [28]:
import pandas as pd, numpy as np, csv 
ds = pd.read_csv('kc_house_data.csv')
training_ds = ds[0:int(0.8*len(ds))]
test_ds = ds[int(0.8*len(ds)):len(ds)]
test_ds

       sqft  floors  bedrooms  bathrooms  price
0       0.0     0.0       0.0        0.0    0.0
1       0.0     0.0       0.0        0.0    0.0
2       0.0     0.0       0.0        0.0    0.0
3       0.0     0.0       0.0        0.0    0.0
4       0.0     0.0       0.0        0.0    0.0
5       0.0     0.0       0.0        0.0    0.0
6       0.0     0.0       0.0        0.0    0.0
7       0.0     0.0       0.0        0.0    0.0
8       0.0     0.0       0.0        0.0    0.0
9       0.0     0.0       0.0        0.0    0.0
10      0.0     0.0       0.0        0.0    0.0
11      0.0     0.0       0.0        0.0    0.0
12      0.0     0.0       0.0        0.0    0.0
13      0.0     0.0       0.0        0.0    0.0
14      0.0     0.0       0.0        0.0    0.0
15      0.0     0.0       0.0        0.0    0.0
16      0.0     0.0       0.0        0.0    0.0
17      0.0     0.0       0.0        0.0    0.0
18      0.0     0.0       0.0        0.0    0.0
19      0.0     0.0       0.0        0.0    0.0
20      0.0     0.0       0.0        0.0    0.0
21      0.0     0.0       0.0        0.0    0.0
22      0.0     0.0       0.0        0.0    0.0
23      0.0     0.0       0.0        0.0    0.0
24      0.0     0.0       0.0        0.0    0.0
25      0.0     0.0       0.0        0.0    0.0
26      0.0     0.0       0.0        0.0    0.0
27      0.0     0.0       0.0        0.0    0.0
28      0.0     0.0       0.0        0.0    0.0
29      0.0     0.0       0.0        0.0    0.0
...     ...     ...       ...        ...    ...
21583   NaN     NaN       NaN        NaN    NaN
21584   NaN     NaN       NaN        NaN    NaN
21585   NaN     NaN       NaN        NaN    NaN
21586   NaN     NaN       NaN        NaN    NaN
21587   NaN     NaN       NaN        NaN    NaN
21588   NaN     NaN       NaN        NaN    NaN
21589   NaN     NaN       NaN        NaN    NaN
21590   NaN     NaN       NaN        NaN    NaN
21591   NaN     NaN       NaN        NaN    NaN
21592   NaN     NaN       NaN        NaN    NaN
21593   NaN     NaN       NaN        NaN    NaN
21594   NaN     NaN       NaN        NaN    NaN
21595   NaN     NaN       NaN        NaN    NaN
21596   NaN     NaN       NaN        NaN    NaN
21597   NaN     NaN       NaN        NaN    NaN
21598   NaN     NaN       NaN        NaN    NaN
21599   NaN     NaN       NaN        NaN    NaN
21600   NaN     NaN       NaN        NaN    NaN
21601   NaN     NaN       NaN        NaN    NaN
21602   NaN     NaN       NaN        NaN    NaN
21603   NaN     NaN       NaN        NaN    NaN
21604   NaN     NaN       NaN        NaN    NaN
21605   NaN     NaN       NaN        NaN    NaN
21606   NaN     NaN       NaN        NaN    NaN
21607   NaN     NaN       NaN        NaN    NaN
21608   NaN     NaN       NaN        NaN    NaN
21609   NaN     NaN       NaN        NaN    NaN
21610   NaN     NaN       NaN        NaN    NaN
21611   NaN     NaN       NaN        NaN    NaN
21612   NaN     NaN       NaN        NaN    NaN

[21613 rows x 5 columns]